Importing Required Libraries

In [24]:
import numpy as np
import pandas as pd

Read the dataset and store it in variable zomato

In [25]:
zomato = pd.read_csv('c:\\Users\\Asus\\Desktop\\Python_Programs\\Github_MiniProject\\zomato.csv',sep=',')

Display first 3 rows

In [26]:
zomato.head(3)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

Basic Dataset info

In [27]:
zomato.info()
#no duplicates in entrie dataset checked using drop_duplicates method

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

Data Cleaning Process

1. We have null values in 7 columns. Replacing null values with Unavailable for non-numeric and mean for numeric columns

2. Mean imputation is performed for numeric columns.

3. approx_cost(for two people) column has price with comma. Reformating the price to numeric value.

4. Rate column has rating info in fraction format as string. Rating is given against a total of 5. removed "/5" and kept only the actual rating.

5. Phone column has unwanted characters separting phone numbers. Replaced "\r\n" with "". split the phone numbers in to list.

6. columns names are chnaged accordingly.

7. 2 categorical columns - order_online and book_type

In [28]:
zomato['approx_cost(for two people)'] = zomato['approx_cost(for two people)'].str.replace(",","")
zomato['approx_cost(for two people)'] = zomato['approx_cost(for two people)'].astype(float)

In [29]:
zomato['rate'].fillna("No Rating") #filling nan with no rating
zomato['rate'] = zomato['rate'].str.rstrip("/5") 
# we have string categories - no rating and new. lets keep rating as object for now. will change datatype as when required.

In [30]:
zomato['phone'] = zomato['phone'].str.split("\r\n")
zomato['phone'] = zomato['phone'].fillna("Unavailable")

In [31]:
zomato['location'] = zomato['location'].fillna("Unavailable")

In [32]:
zomato['rest_type'] = zomato['rest_type'].fillna("Unavailable")

In [33]:
zomato['dish_liked'] = zomato['dish_liked'].fillna("Unavailable")

In [34]:
zomato['cuisines'] = zomato['cuisines'].fillna("Unavailable")

In [35]:
cost_for_two = np.mean(zomato['approx_cost(for two people)']).round(2)
zomato['approx_cost(for two people)'] = zomato['approx_cost(for two people)'].fillna(cost_for_two)

In [36]:
new_columns = {'approx_cost(for two people)':'Cost for two', 'rate':'Rating against 5'}
zomato.rename(columns=new_columns,inplace=True)

In [37]:
print(zomato['online_order'].value_counts())
print(zomato['book_table'].value_counts())

online_order
Yes    30444
No     21273
Name: count, dtype: int64
book_table
No     45268
Yes     6449
Name: count, dtype: int64

Data Analysis Tasks Performed

1. Restaurants delivering Online or not

2. Restaurants allowing table booking or not

3. Table booking Rate vs Rate

4. Best Location

5. Relation between Location and Rating

6. Restaurant Type

7. Gaussian Rest type and Rating

8. Types of Services

9. Relation between Type and Rating

In [38]:
zomato.head(3)

,url,address,name,online_order,book_table,Rating against 5,votes,phone,location,rest_type,dish_liked,cuisines,Cost for two,reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1,775,"[080 42297555, +91 9743772233]",Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1,787,[080 41714161],Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8,918,[+91 9663487993],Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

Restaurants delivering Online or not

In [39]:
print("Restaurants delivering Online or not")
print(f"Restaurants delivering Online - {len(zomato[zomato['online_order'] == "Yes"])}")
print(f"Restaurants not delivering Online - {len(zomato[zomato['online_order'] == "No"])}")

Restaurants delivering Online or not
Restaurants delivering Online - 30444
Restaurants not delivering Online - 21273

In [40]:
print("Task 1 using value_counts() method")
online_order = zomato['online_order'].value_counts() #pandas series
print(f"Restaurants delivering Online - {online_order.iloc[0]}")
print(f"Restaurants not delivering via Online - {online_order.iloc[1]}")

Task 1 using value_counts() method
Restaurants delivering Online - 30444
Restaurants not delivering via Online - 21273

Restaurants allowing table booking or not

In [41]:
print("Restaurants allowing table booking or not")
table_book = zomato['book_table'].value_counts()
print(f"Restaurants allowing table booking - {table_book.iloc[0]}")
print(f"Restaurants Not allowing table booking - {table_book.iloc[1]}")

Restaurants allowing table booking or not
Restaurants allowing table booking - 45268
Restaurants Not allowing table booking - 6449

Table booking Rate vs Rate

In [42]:
print("Table booking Rate vs Rate")
book_rate = round(table_book.iloc[0]/table_book.sum(), 2)
print(f"{book_rate *100}%")

Table booking Rate vs Rate
88.0%

Best Location  - Sarjapur Road

Our dataset has votes column that shows the votes given by customers to a restaurant.

We need to group our data by location and determine the maximum votes in that group. Additionally we are calculating the average rating and cost for those groups to determine the famous loaction and the rating it has got.

In [93]:
temp_loca = zomato.groupby('location').aggregate({'votes':'max','Rating against 5':'mean','Cost for two':'mean'}).sort_values(
    ['votes','Rating against 5','Cost for two'], ascending=[False,False,True])

temp_loca = temp_loca.round(2)
temp_loca[:10]

                       votes  Rating against 5  Cost for two
location
Sarjapur Road          16832              3.45        574.28
Indiranagar            14956              3.63        651.66
Koramangala 5th Block  14726              3.88        662.67
Marathahalli           12121              3.38        514.13
Old Airport Road        9300              3.37        665.42
Koramangala 4th Block   9085              3.81        696.36
Brigade Road            8419              3.58        650.94
Church Street           7584              3.94        834.89
Whitefield              7064              3.37        597.93
HSR                     6745              3.46        476.08

Most famous restuarant details in one of the best location - Sarjapur Road

In [134]:
location_with_maximum_votes = temp_loca['votes'].idxmax()                             #gets the location name - apply direct values in case of other location
max_votes = temp_loca['votes'].max()
location_with_maximum_rating = temp_loca['Rating against 5'].mean().round(1)          #gets the maximum rating
location_with_minimum_cost = temp_loca['Cost for two'].mean().round(1)                #gets the minimum cost

df = zomato[
    (zomato['location'] == location_with_maximum_votes) & 
    (zomato['Rating against 5'] == location_with_maximum_rating)
].sort_values('votes', ascending= False).iloc[0]

df[['location','name','Rating against 5','Cost for two','phone']]

location                               Sarjapur Road
name                             Folklore Restaurant
Rating against 5                                 3.4
Cost for two                                   450.0
phone               [+91 8123451143, +91 8123452143]
Name: 3998, dtype: object

Relation between Location and Rating

In [44]:
zomato['Rating against 5'] = zomato['Rating against 5'].replace(["No Rating","NEW","-"],[0,0,0])
zomato['Rating against 5'] = pd.to_numeric(zomato['Rating against 5'])

In [45]:
avg_rating_location = zomato.groupby('location')['Rating against 5'].agg(['mean','max']).sort_values(['mean','max'], ascending=[False,False])
avg_rating_location = avg_rating_location.reset_index().round(2)
avg_rating_location[:5]

                location  mean  max
0           Lavelle Road  4.03  4.6
1         St. Marks Road  4.00  4.6
2  Koramangala 3rd Block  3.97  4.4
3            Sankey Road  3.97  4.3
4          Church Street  3.94  4.6

Restaurant Type

In [46]:
restaurant_type = zomato['rest_type'].value_counts()
restaurant_type.index.name = "Restaurant Type"

print(f"We have {len(restaurant_type)} types of restaurants in Namma Bengaluru")

top_5 = restaurant_type.index[:5]

print(f"Out of which {top_5[0]}, {top_5[1]}, {top_5[2]}, {top_5[3]}, {top_5[4]} are the most famous type.")

We have 94 types of restaurants in Namma Bengaluru
Out of which Quick Bites, Casual Dining, Cafe, Delivery, Dessert Parlor are the most famous type.

Gaussian Rest type and Rating

Types of Services
Relation between Type and Rating
Cost of Restaurant
No. of restaurants in a Location
Restaurant type
Most famous restaurant chains in Bengaluru

In [47]:
print("Types of services - Refers to different cuisines offered by the restaurant")
zomato['cuisines'].value_counts()

Types of services - Refers to different cuisines offered by the restaurant

cuisines
North Indian                                 2913
North Indian, Chinese                        2385
South Indian                                 1828
Biryani                                       918
Bakery, Desserts                              911
                                             ...
Chinese, Biryani, North Indian, Beverages       1
American, Thai, Healthy Food                    1
South Indian, Fast Food, Beverages              1
Chinese, Cafe                                   1
North Indian, Chinese, Arabian, Momos           1
Name: count, Length: 2724, dtype: int64

In [48]:
cuisine = zomato['cuisines'].str.split(",")
cuisine = cuisine.explode().str.strip()

print("Most famous cuisine offered by almost all restaurants - ") #108 distinct cuisines
for ct in cuisine.value_counts().index[:5]:
    print(ct,end=', ')

Most famous cuisine offered by almost all restaurants -
North Indian, Chinese, South Indian, Fast Food, Biryani,

Relation between Type and Rating

In [49]:
type_rate = zomato.loc[:,['url','cuisines','Rating against 5']]
type_rate['cuisines'] = type_rate['cuisines'].str.split(",")
type_rate = type_rate.explode('cuisines')
type_rate['cuisines'] = type_rate['cuisines'].str.strip()

In [50]:
cuisine_vs_rate = type_rate.groupby('cuisines').aggregate({'url':'count','Rating against 5':'mean'}).sort_values(['Rating against 5','url'], ascending=[False, False])
cuisine_vs_rate[:10]

             url  Rating against 5
cuisines
Cantonese      6          4.600000
African       17          4.523529
Singaporean   47          4.382979
Belgian        4          4.366667
Sri Lankan    15          4.306667
Jewish         6          4.300000
Vegan          6          4.300000
German         7          4.285714
Malaysian    109          4.278899
British        7          4.242857

Cost of Restaurant & Most famous Restaurants Chain

In [85]:
print("Restaurants Count - ")
chain = zomato['name'].value_counts()

print(f"Most famous restaurants chains - Top 5")

for ch in chain.index[:5]:
    print(ch)

Restaurants Count -
Most famous restaurants chains - Top 5
Cafe Coffee Day
Onesta
Just Bake
Empire Restaurant
Five Star Chicken

In [ ]:
cost_for_restaurant = zomato.groupby('name').aggregate({'Cost for two':'mean'}).reset_index()
cost_for_restaurant[10:20].round(2)

                         name  Cost for two
10  12th Main - Grand Mercure   2000.000000
11              1441 Pizzeria    800.000000
12             1522 - The Pub   1400.000000
13         154 Breakfast Club    900.000000
14          1722 Urban Bistro    600.000000
15               18+ Ice Cafe    550.000000
16                       1947    946.428571
17           1980s Games Cafe    400.000000
18         1992 Chats - Space    200.000000
19                        1Q1   2500.000000

In [71]:
cost_for_restaurant.sort_values('Cost for two',ascending=False)[:10]

                                        name  Cost for two
4372  Le Cirque Signature - The Leela Palace        6000.0
6263              Royal Afghan - ITC Windsor        5000.0
4628                  Malties - Radisson Blu        4500.0
4276              La Brasserie - Le Meridien        4100.0
2358    Dum Pukht Jolly Nabobs - ITC Windsor        4000.0
3693              Jamavar - The Leela Palace        4000.0
2047                   Dakshin - ITC Windsor        4000.0
2424     Edo Restaurant & Bar - ITC Gardenia        4000.0
4709          Masala Klub - The Taj West End        4000.0
306             Alba - JW Marriott Bengaluru        4000.0

No. of restaurants in a Location

In [80]:
location_count = zomato.groupby('location').agg({'url':'count'}).rename(columns={'url':'No of Restaurants'}).sort_values(
    'No of Restaurants',ascending=False)
location_count[:10]

                       No of Restaurants
location
BTM                                 5124
HSR                                 2523
Koramangala 5th Block               2504
JP Nagar                            2235
Whitefield                          2144
Indiranagar                         2083
Jayanagar                           1926
Marathahalli                        1846
Bannerghatta Road                   1630
Bellandur                           1286